// ===== FONT GOOGLE =====
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

// ===== VARIABLES CSS =====
// header height
$header-height: 6rem;

// color palette
$white-color: #fff;
$black-color: #02073e;
$dark-grey-color: #343d48;
$green-color: #28dcb2;
$blue-color: #4f96ff;

// font body
$font-body: "DM Sans", sans-serif;

// font weight
$font-reguler: 400;
$font-medium: 500;
$font-bold: 700;

// margin
$margin-0-5: 0.5rem;
$margin-1: 1rem;
$margin-1-5: 1.5rem;
$margin-2: 2rem;
$margin-2-5: 2.5rem;
$margin-3: 3rem;
$margin-3-5: 3.5rem;
$margin-4: 4rem;

// z-index
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;

// transition
$transition-300: 0.3s;
$transition-400: 0.4s;

// line-height
$leading-title: 1.5;
$leading-text: 1.87;

// ===== BASE & RESET =====
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-body;
  font-weight: $font-reguler;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

input,
button {
  font-family: $font-body;
  font-weight: $font-reguler;
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

// ===== REUSABLES CSS CLASS =====
.container {
  max-width: 1024px;
  width: calc(100% - 3rem);
  margin: 0 $margin-1-5;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: 5rem 0;

  &-title {
    text-align: center;
    font-size: 24px;
    font-weight: $font-bold;
    color: $black-color;
    margin-bottom: $margin-1;
    line-height: $leading-title;
  }

  &-text {
    text-align: center;
    font-size: 15px;
    color: $black-color;
    line-height: $leading-text;
  }
}

.button {
  font-size: 15px;
  font-weight: $font-medium;

  &-fill {
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: $green-color;
    border-radius: 1rem;
    color: $white-color;
    transition: $transition-400;
    box-shadow: 0 8px 20px rgba($color: #000000, $alpha: 0.1);

    &:hover {
      background-color: #27cea7;
      box-shadow: 0 8px 20px rgba($color: #000000, $alpha: 0.2);
    }
  }

  &-link {
    display: inline-flex;
    align-items: center;
    gap: 0.2rem;
    color: $blue-color;

    i {
      font-size: 1.1rem;
      transition: $transition-400;
    }

    &:hover {
      i {
        transform: translateX(8px);
      }
    }
  }
}

// ===== HEADER SECTION =====
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white-color;
  z-index: $z-fixed;
  transition: $transition-400;

  // Sticky Header
  &.sticky-header {
    box-shadow: 0 2px 8px rgba($color: #000000, $alpha: 0.1);
  }

  &__container {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: $font-bold;
    color: $black-color;

    &-icon {
      width: 25px;
    }
  }

  &__menu {
    @media screen and (max-width: 767px) {
      position: fixed;
      width: 80%;
      height: 100%;
      top: 0;
      right: -100%;
      background-color: $white-color;
      padding: 2rem 0;
      display: grid;
      gap: 2rem;
      grid-template-rows: repeat(2, max-content);
      box-shadow: -2px 0 8px rgba($color: #000000, $alpha: 0.1);
      transition: $transition-400;
    }
  }

  &__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem 0 2rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__link {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    min-height: 48px;
    background: transparent;
    font-size: 15px;
    color: $black-color;

    &.active-link {
      position: relative;
      font-weight: $font-medium;
      color: $green-color;
      background-color: #f8f8f8;

      &::before {
        position: absolute;
        content: "";
        width: 2px;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $green-color;
      }
    }
  }

  &__button {
    align-self: flex-end;
    margin: 0 1.5em 0 2rem;
  }

  &__toggle,
  &__close {
    display: inline-flex;
    font-size: 1.5rem;
    color: $black-color;
    cursor: pointer;
  }

  // Show Header Menu
  .show-menu {
    right: 0;
  }
}

// ===== HOME SECTION =====
.home {
  &__container {
    padding: 8rem 0 5rem;
  }

  &__content {
    display: grid;
    gap: 2rem;
  }

  &__data {
    text-align: center;
  }

  &__title {
    font-size: 42px;
    font-weight: $font-bold;
    color: $black-color;
    line-height: $leading-title;
    margin-bottom: $margin-1;
  }

  &__text {
    font-size: 15px;
    color: $black-color;
    line-height: $leading-text;
    margin-bottom: $margin-2;
  }

  &__sponsored {
    display: inline-flex;
    align-items: center;
    justify-self: center;
    gap: 1rem;

    &-icon {
      width: 80px;
    }
  }
}

// ===== FEATURES SECTION =====
.features {
  &__container {
    gap: 3rem;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0.7fr));
    justify-content: center;
    gap: 2rem;
  }

  &__item {
    display: grid;
    gap: 1rem;

    &-icon {
      width: 90px;
      border-radius: 50%;
      box-shadow: 0 8px 20px rgba($color: #000000, $alpha: 0.1);
    }

    &-title {
      font-size: 20px;
      font-weight: $font-bold;
      color: $black-color;
      margin-bottom: 1rem;
    }

    &-text {
      font-size: 15px;
      color: $dark-grey-color;
      line-height: $leading-text;
    }
  }
}

// ===== STATS SECTION =====
.stats {
  background-color: #f9fafc;

  &__container {
    gap: 3rem;
  }

  &__title {
    font-size: 28px;
    font-weight: $font-bold;
    color: $black-color;
    line-height: $leading-title;
    margin-bottom: $margin-1;
  }

  &__text {
    font-size: 15px;
    color: $black-color;
    line-height: $leading-text;
    margin-bottom: $margin-1;
  }

  &__list {
    display: grid;
    gap: 1rem;
    margin-bottom: $margin-2;
  }

  &__item {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 15px;
    font-weight: $font-medium;
    color: $black-color;

    &-icon {
      display: inline-flex;
      padding: 0.2rem;
      background-color: $green-color;
      border-radius: 50%;
      color: $white-color;
      font-size: 1rem;
    }
  }

  &__img {
    filter: drop-shadow(0 8px 20px rgba($color: #000000, $alpha: 0.07));
  }
}

// ===== VIDEO SECTION =====
.video {
  &__container {
    gap: 3rem;
  }

  &__data {
    text-align: center;
  }

  &__text {
    margin-bottom: $margin-2;
  }

  &__overlay {
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 8px 20px rgba($color: #000000, $alpha: 0.1);

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 40%;
      left: 0;
      bottom: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    }

    &-img {
      max-width: 100%;
      height: 100%;
    }

    &-button {
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
      background: transparent;
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 15px;
      font-weight: $font-medium;
      color: $white-color;
      z-index: $z-fixed;
      cursor: pointer;
    }

    &-icon {
      font-size: 1.5rem;
    }
  }
}

// ===== ALL FEATURES SECTION ======
.all-features {
  background-color: #f9fafc;

  &__container {
    gap: 3rem;
  }

  &__group {
    gap: 2rem;
    grid-template-columns: 1fr;
  }

  &__item {
    display: flex;
    gap: 1rem;

    &-icon {
      width: 90px;
      border-radius: 50%;
      align-self: flex-start;
      box-shadow: 0 8px 20px rgba($color: #000000, $alpha: 0.1);
    }

    &-title {
      font-size: 20px;
      font-weight: $font-bold;
      color: $black-color;
      margin-bottom: $margin-1;
    }

    &-text {
      font-size: 15px;
      color: $dark-grey-color;
      line-height: $leading-text;
    }
  }
}

// ===== WIDGETS SECTION =====
.widgets {
  &__container {
    gap: 3rem;
  }

  &__title {
    font-size: 28px;
    font-weight: $font-bold;
    color: $black-color;
    line-height: $leading-title;
    margin-bottom: $margin-1;
  }

  &__text {
    font-size: 15px;
    color: $black-color;
    line-height: $leading-text;
    margin-bottom: $margin-1;
  }

  &__list {
    display: grid;
    gap: 1rem;
    margin-bottom: $margin-2;
  }

  &__item {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 15px;
    font-weight: $font-medium;
    color: $black-color;

    &-icon {
      display: inline-flex;
      padding: 0.2rem;
      background-color: $green-color;
      border-radius: 50%;
      color: $white-color;
      font-size: 1rem;
    }
  }
}

// ===== PRICING SECTION =====
.pricing {
  &__container {
    gap: 3rem;
  }

  &__switch {
    display: inline-flex;
    justify-self: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: #f7f8fb;
    border-radius: 0.5rem;

    &-button {
      padding: 1rem 2rem;
      background-color: $white-color;
      border-radius: 0.5rem;
      font-size: 15px;
      font-weight: $font-bold;
      color: $black-color;
      box-shadow: 2px 0 8px rgba($color: #000000, $alpha: 0.1);
      cursor: pointer;
    }

    &-button:nth-of-type(2) {
      position: relative;
      background: transparent;
      box-shadow: none;

      &::before {
        position: absolute;
        content: "SAVE 20%";
        top: -1.3rem;
        left: 50%;
        transform: translateX(-50%);
        padding: 0.4rem;
        background-color: $green-color;
        border-radius: 5rem;
        font-size: 12px;
        font-weight: $font-bold;
        color: $white-color;
      }
    }
  }

  &__item {
    grid-template-rows: repeat(2, max-content);
    padding: 2rem;
    border-radius: 1rem;
    border: 1.5px solid #f3f4f5;
    transition: $transition-400;

    &:hover {
      border-color: $green-color;
    }

    &-title {
      font-size: 20px;
      font-weight: $font-bold;
      color: $black-color;
      margin-bottom: 10px;
    }

    &-text {
      font-size: 15px;
      color: $dark-grey-color;
    }

    &-list {
      display: grid;
      gap: 1rem;
    }

    &-item {
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 15px;
      color: $black-color;
      line-height: $leading-text;
    }

    &-icon {
      display: inline-flex;
      padding: 0.2rem;
      background-color: $green-color;
      border-radius: 50%;
      color: $white-color;
      font-size: 1rem;
    }

    &-button {
      align-self: center;
    }
  }

  &__item:nth-of-type(2) {
    position: relative;

    &::before {
      position: absolute;
      content: "Recommended";
      top: -1rem;
      right: 2rem;
      padding: 0.4rem;
      background-color: #ef9e48;
      border-radius: 0.5rem;
      font-size: 15px;
      font-weight: $font-bold;
      color: $white-color;
    }
  }
}

// ===== FAQ SECTION =====
.faq {
  &__container {
    gap: 3rem;
  }

  &__accordion {
    gap: 2rem;

    &-item {
      border: 1.5px solid #f3f4f5;
      border-radius: $margin-1;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      padding: 1.5rem;
      border-radius: 0.5rem;
      cursor: pointer;
    }

    &-title {
      font-size: 15px;
      font-weight: $font-medium;
      color: $black-color;
      line-height: $leading-title;
    }

    &-icon {
      display: inline-flex;
      font-size: 1.2rem;
      padding: 0.1rem;
      background-color: $green-color;
      border-radius: 50%;
      color: $white-color;
    }

    &-content {
      overflow: hidden;
      height: 0;
    }

    &-text {
      font-size: 15px;
      color: $dark-grey-color;
      padding: 1rem 1.5rem;
      line-height: $leading-text;
    }

    &-item,
    &-header,
    &-title,
    &-icon,
    &-content,
    &-text {
      transition: $transition-400;
    }
  }

  // Accordion FAQ Section
  .accordion-open {
    & .faq__accordion-header,
    & .faq__accordion-content {
      background-color: $green-color;
      border-color: $green-color;
    }

    & .faq__accordion-header {
      border-radius: $margin-1 $margin-1 0 0;
    }
    & .faq__accordion-content {
      border-radius: 0 0 $margin-1 $margin-1;
    }

    & .faq__accordion-title,
    & .faq__accordion-text {
      color: $white-color;
    }

    & .faq__accordion-icon {
      transform: rotate(45deg);
      background-color: $white-color;
      color: $green-color;
    }
  }
}

// ===== FOOTER SECTION =====
.footer {
  padding: 5rem 0 3rem;
  background-color: #f9fafc;

  &__container {
    gap: 3rem;
  }

  &__group {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  &__logo {
    margin-bottom: 1rem;
  }

  &__item {
    &-title {
      font-size: 20px;
      font-weight: $font-bold;
      color: $black-color;
      margin-bottom: $margin-1;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    &-link {
      &:hover {
        color: $green-color;
        text-decoration: underline;
      }
    }
  }

  &__text,
  &__item-link {
    font-size: 15px;
    color: $dark-grey-color;
    line-height: $leading-text;
  }

  &__copy {
    padding-top: 3rem;
    border-top: 1.5px solid #f3f4f5;
    font-size: 15px;
    color: $dark-grey-color;
    text-align: center;
    line-height: $leading-text;
  }
}

// ===== SCROLLUP SECTION =====
.scrollup {
  position: fixed;
  right: 1.5rem;
  bottom: 3rem;
  display: inline-flex;
  padding: 0.5rem;
  background-color: rgba($color: #28dcb2, $alpha: 0.8);
  border-radius: 0.5rem;
  color: $white-color;
  opacity: 0;
  transition: $transition-400;

  &:hover {
    background-color: rgba($color: #28dcb2, $alpha: 1);
  }

  &__icon {
    font-size: 1.6rem;
  }

  // Scrollup Active
  &.scroll-active {
    opacity: 1;
  }
}

// ===== MEDIA QUERIES =====
// ----- Width 480px -----
@media screen and (min-width: 480px) {
  .container {
    margin: 0 auto;
  }

  .home__data,
  .features__data,
  .stats__data,
  .video__data,
  .all-features__data,
  .widgets__data,
  .pricing__data,
  .faq__data {
    width: 430px;
    justify-self: center;
  }

  .home__button {
    display: inline-flex;
    justify-content: center;
  }

  .pricing__item {
    width: 345px;
    justify-self: center;
  }
}

// ----- Width 640px -----
@media screen and (min-width: 640px) {
  .home__img,
  .stats__img,
  .video__overlay,
  .all-features__group,
  .widgets__img {
    width: 500px;
    justify-self: center;
  }

  .features__item {
    width: 200px;
    justify-self: center;
  }
}

// ----- Width 767px -----
@media screen and (min-width: 767px) {
  // ===== HEADER SECTION =====
  .header {
    &__container {
      position: relative;
    }

    &__menu {
      display: flex;
      align-items: center;
    }

    &__list {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      gap: 2rem;
      flex-direction: row;
    }

    &__link {
      padding-left: 0;
      min-height: 0;

      &.active-link {
        position: relative;
        background-color: transparent;

        &::before {
          display: none;
        }
      }
    }

    &__data,
    &__toggle,
    &__close {
      display: none;
    }

    &__button {
      margin: 0;
    }
  }
}

// ----- Width 968px -----
@media screen and (min-width: 968px) {
  .section-title {
    font-size: 28px;
  }

  .home {
    &__container {
      grid-template-columns: repeat(2, 1fr);
    }

    &__data {
      justify-self: left;
      text-align: left;
      align-self: center;
    }

    &__title {
      font-size: 56px;
    }

    &__sponsored {
      justify-self: left;

      &-icon {
        width: 100px;
      }
    }
  }

  .stats__container,
  .widgets__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .stats__data,
  .widgets__data {
    width: auto;
    align-self: center;
  }

  .stats__title,
  .widgets__title {
    font-size: 42px;
  }

  .home__img,
  .stats__img,
  .widgets__img {
    width: auto;
  }

  .features__data,
  .video__data,
  .all-features__data,
  .pricing__data,
  .faq__data {
    width: 610px;
  }

  .video__overlay,
  .faq__accordion {
    width: 800px;
    justify-self: center;
  }

  .all-features__group {
    width: auto;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__item {
    justify-self: center;
  }
}
